<% value ||= nil %>
<%= f.ss_field_set column.id.to_s, column.form_options.merge(label: column.name, tt: column.tooltips.presence) do %>
  <div class="input-group select-column">
    <%= select_tag("#{object_name}[#{column.id}]", options_for_select(column.select_options, selected: value.try(:value)), column.form_options.merge(include_blank: column.place_holder.presence || true)) %>
  </div>
<% end %>
