<% return "" if @item.opendata_license_ids.blank? %>
<%= jquery do %> SS_AddonTabs.hide(".mod-cms-opendata-license"); <% end %>

<% f.ss_field_set :opendata_license_ids do %>
  <div id="item_opendata_opendata_license_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.opendata_licenses.pluck(:name).each do |opendata_license_name| %>
      <tr>
        <td><%= opendata_license_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
