<% return "" if @item.parent_crumb_urls.blank? %>

<%= f.ss_field_set :parent_crumb_urls do %>
  <div id="item_parent_crumb_urls" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.parent_crumb_urls.each do |parent_crumb_url| %>
      <tr>
        <td><%= parent_crumb_url %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
