<div class="gws-attendance">
  <%= render partial: 'tabs', locals: { current: "index" } %>
  <%= render partial: 'search', locals: { current: "index" } %>
  <%= render partial: "index/#{@unit}", locals: { current: "index" } %>
</div>
