<% value ||= [] %>
<%= f.ss_field_set column.id.to_s, column.form_options.merge(label: column.name, tt: column.tooltips.presence) do %>
  <div class="input-group check-box-column">
    <% column.select_options.each do |val| %>
      <label>
        <%= check_box_tag("#{object_name}[#{column.id}][]", val, value.try(:values).try(:include?, val), column.form_options.merge(id: nil)) %>
        <%= val %>
      </label>
    <% end %>
  </div>
<% end %>
