<%= f.ss_field_set :sys_role_ids, disabled: true do %>
  <div id="item_sys_role_ids">
    <% @item.sys_roles.order_by(name: 1).each do |role| %>
      <%= link_to role.name, sys_role_path(id: role) %>
    <% end %>
  </div>
<% end %>
