<% return "" if @item.opendata_area_ids.blank? %>
<%= jquery do %> SS_AddonTabs.hide(".mod-cms-opendata-area"); <% end %>

<% f.ss_field_set :opendata_area_ids do %>
  <div id="item_opendata_area_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.opendata_areas.pluck(:name).each do |opendata_area_name| %>
      <tr>
        <td><%= opendata_area_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
