<% return "" if @item.opendata_dataset_group_ids.blank? %>
<%= jquery do %> SS_AddonTabs.hide(".mod-cms-opendata-dataset-group"); <% end %>

<% f.ss_field_set :opendata_dataset_group_ids do %>
  <div id="item_opendata_dataset_group_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.opendata_dataset_groups.pluck(:name).each do |opendata_dataset_group_name| %>
      <tr>
        <td><%= opendata_dataset_group_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
