<%= f.ss_field_set :group_ids, disabled: true do %>
  <div id="item_group_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.groups.order_by(name: 1).pluck(:name).each do |group_name| %>
      <tr>
        <td><%= group_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= f.ss_field_set :permission_level, value: @item.label(:permission_level), disabled: true %>
