<% return "" if @item.categories.blank? %>

<%= f.ss_field_set :category_ids do %>
  <div id="item_category_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.categories.pluck(:name).each do |category_name| %>
      <tr>
        <td><%= category_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
