<% return "" if @item.opendata_category_ids.blank? %>
<%= jquery do %> SS_AddonTabs.hide(".mod-cms-opendata-category"); <% end %>

<% f.ss_field_set :opendata_category_ids do %>
  <div id="item_opendata_category_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.opendata_categories.pluck(:name).each do |opendata_category_name| %>
      <tr>
        <td><%= opendata_category_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
