<% return "" if @item.related_pages.blank? %>

<%= f.ss_field_set :related_pages do %>
  <div id="item_related_pages" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.related_pages.pluck(:name).each do |related_page_name| %>
      <tr>
        <td><%= related_page_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= f.ss_field_set :related_page_sort, value: @item.label(:related_page_sort) %>
