<% @items.each do |year, minute| %>
  <% total = 0 %>
  <div class="attendance-box monthly">
    <div class="attendance-box-main main">
      <table class="affair-overtime-aggregate">
        <% total += minute %>
        <tr>
          <th><%= "#{year}年" %></th>
          <td><%= "#{minute / 60}:#{format("%02d", (minute % 60))}" %></td>
        </tr>
      <tr>
        <th class="total"><%= "合計" %></th>
        <td class="total"><%= "#{total / 60}:#{format("%02d", (total % 60))}" %></td>
      </tr>
    </table>
  </div>
<% end %>
