<%= f.ss_field_set :sender_name, disabled: true %>
<%= f.ss_field_set :sender_email, disabled: true %>
<%= f.ss_field_set :mail_signature, disabled: true do %>
  <div class="form-control"><%= br @item.mail_signature %></div>
<% end %>
