<%= render file: "workflow/wizard/_approver_agent" %>

<%= ss_field_tag_set("workflow_comment", @item.workflow_comment, type: :text_area, label: @model.t(:workflow_comment), tt: @model.tt(:workflow_comment), class: "form-control") %>

<dl class="see request-setting">
  <dd>
    <div class="buttons">
      <%= button_tag t("workflow.buttons.restart"), {updatetype: :restart, class: "update-item btn-primary"} %>
      <%= button_tag t("workflow.buttons.cancel"), {class: "workflow-route-cacnel btn-default"} %>
    </div>
  </dd>
</dl>
