<%= form_for :item, url: nil, html: { id: "item-form", method: "get", multipart: true, autocomplete: :off, enforce_utf8: false } do |f| %>
<div class="addon-views">
  <%
    addon_options = {}
    addon_options[:id] = "addon-basic"
    addon_options[:head] = t("ss.basic_info")
  %>
  <%= render "ss/crud/addon_show", addon: addon_options do %>
    <%= render file: "_show", locals: { f: f } %>
  <% end %>
</div>
<% end %>
